.InputWordsToSearch{
  margin-top: 6em;
>input{
  text-align: center;
  @media (min-width: 550px) {
    width: 50%;
    margin-left: 25%;
  }

}
  >span{
    font-size: 0.6em;
    color: lightgray;
    padding: -1em;
  }
}
