i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  float: right;
  //display: block;
  margin-left: 3.5em;
  margin-top: -1em;
}
.own{
  float: right;
  padding-right: 1em;
  cursor: pointer;
  //:hover{
  //  background-color: lightgray;
  //  border-radius: 0.3em;
  //}
}
  .menuavatar:hover{
    background-color: gray;
    cursor: pointer;
  }
.out{
  //display: none;
}