.InputWords {
  grid-column: 2/10;
  margin-left: 9rem;
  > input {
    text-align: center;
    word-break: break-word;
    height: 7rem;
    //@media (min-width: 550px) {
    //  width: 50%;
    //  margin-left: 25%;
    //}
  }

  //> span {
  //  font-size: 0.6em;
  //  color: lightgray;
  //  padding: -1em;
  //}
}
