.App {
  background-color: #e6eaf1;
  min-height: 100vh;
  text-align: center;
  padding: 0.5em;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
}

@media (max-width: 550px) {
  .App-header {
    text-align: left;
    > h1 {
      font-size: 1.5em;
    }
  }
}
.App-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  > h1 {
    color: #0a0a0a;
  }
  color: green;
}

.App-link {
  color: #61dafb;
}

.results {
  //width: 57%;
  //margin-left: 20%;
}
.BorderSearchGroup {
  border: solid;
  border-radius: 0.4em;
  border-color: lightgrey;
  border-width: 1px 3px 3px 1px;
  width: 75%;
  margin-left: 20em;
  margin-top: 3em;
}
