.App {
  background-color: #e6eaf1;
  min-height: 100vh;
  text-align: center;
  padding: 0.5em;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@media (max-width: 550px) {
  .App-header {
    text-align: left;
    > h1 {
      font-size: 1.5em;
    }
  }
}
.App-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  > h1 {
    color: #0a0a0a;
  }
  color: green;
}

.App-link {
  color: #61dafb;
}
