.App {
  background-color: #e6eaf1;
  display: grid;
  font-size: 0.9em;
  //grid-auto-rows: minmax(50px, auto);
  gap: 0rem;
}
.listRenderAndLeftMenu {
  display: grid;
  grid-row-gap: 2rem;
  padding-right: 10rem;
  .one {
    grid-column: 1/10;
    margin-left: 20%;
    //margin-right: 10%;
  }
  .WaitSecSend{
    grid-column: 4/10;
    text-align: center;
  }
  .startStop{
    grid-column-gap: 2rem;
    grid-column: 5/10;
  }
  //.StartButtonSendMessage{
  //  grid-column: 4/10;
  //}
  //.StopButtonSendMessage{
  //  grid-column: 5/10;
  //}
  //.two {
  //  grid-column: 15/30;
  //}
  //.tree {
  //}
}

@media (max-width: 550px) {
  .App-header {
    > h1 {
      font-size: 1.5em; //размер будет такой если ширина меньше или равна 550
    }
  }
}
.App-header {
  grid-column: 1/12;
  background-color: #61dafb;
  text-align: center;
}
.filterGroup {
  grid-column: 7/12;
}
.searchGroup {
  grid-column: 6/7;
}

.results {
  grid-column: 6/10;
}
.buttons {
  grid-column: 10/12;
  background-color: #e6eaf1;
}

.App-link {
  color: #61dafb;
}

.BorderSearchGroup {
  border: solid;
  border-radius: 0.4em;
  border-color: lightgrey;
  border-width: 1px 3px 3px 1px;
}
